
/* Cursor */
body {
  /* cursor: none; */
}

.cursor {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, transform 0.1s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  z-index: 9999;
}

.cursor.hovered {
  width: 80px;
  height: 80px;
  border: none;
  background: yellowgreen;
  mix-blend-mode: difference;
}

.cursor.text-hover {
  width:80px;
  height: 80px;
  background: rgba(255, 255, 255);
  border-radius: 100%;
  mix-blend-mode: difference;
}