@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: 'Figtree', sans-serif !important;
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	font: 1rem/1.5 var(--font-body);
    font-family: 'Figtree', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

[data-theme="light"] img[src="/logo-light.png"] {
	content: url('/logo-dark.png');
}

.dark .bg-base-100 {
  @apply bg-black; /* or your custom color */
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-base-100 {
    @apply bg-black; /* or your custom color */
  }
}
